<div class="carousel-wrapper">
    <div>
        <div class="carousel carousel-slider" style="width:100%"><button type="button"
                class="control-arrow control-prev control-disabled"></button>
            <div class="slider-wrapper axis-horizontal">
                <ul class="slider animated"
                    style="-webkit-transform:translate3d(0%,0,0);-moz-transform:translate3d(0%,0,0);-ms-transform:translate3d(0%,0,0);-o-transform:translate3d(0%,0,0);transform:translate3d(0%,0,0);-ms-transform:translate3d(0%,0,0);-webkit-transition-duration:350ms;-moz-transition-duration:350ms;-ms-transition-duration:350ms;-o-transition-duration:350ms;transition-duration:350ms;-ms-transition-duration:350ms">
                    <li class="slide selected">
                        <div class="carousel-page">
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/riverisland" class="link primary"><img
                                            src="https://image4.owler.com/logo/river-island_owler_20160226_173127_medium.jpg"
                                            alt="G-STAR RAW's Competitor - River Island's Logo"
                                            title="G-STAR RAW's Competitor - River Island"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">1</span>
                            </div>
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/allsaints" class="link primary"><img
                                            src="https://image4.owler.com/logo/allsaints_owler_20160226_173739_medium.png"
                                            alt="G-STAR RAW's Competitor - AllSaints's Logo"
                                            title="G-STAR RAW's Competitor - AllSaints"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">2</span>
                            </div>
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/topman" class="link primary"><img
                                            src="https://image4.owler.com/logo/topman_owler_20190805_185103_medium.png"
                                            alt="G-STAR RAW's Competitor - TOPMAN's Logo"
                                            title="G-STAR RAW's Competitor - TOPMAN"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">3</span>
                            </div>
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/fricwoolclothing" class="link primary"><img
                                            src="https://image4.owler.com/logo/fricwool-clothing_owler_20160302_205203_medium.gif"
                                            alt="G-STAR RAW's Competitor - Fricwool Clothing's Logo"
                                            title="G-STAR RAW's Competitor - Fricwool Clothing"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">4</span>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="carousel-page">
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/maximleather" class="link primary"><img
                                            src="https://image4.owler.com/logo/maxim-leather_owler_20170210_071533_medium.png"
                                            alt="G-STAR RAW's Competitor - Maxim Leather's Logo"
                                            title="G-STAR RAW's Competitor - Maxim Leather"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">5</span>
                            </div>
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/jackwills" class="link primary"><img
                                            src="https://image4.owler.com/logo/jack-wills_owler_20181127_110831_medium.png"
                                            alt="G-STAR RAW's Competitor - Jack Wills's Logo"
                                            title="G-STAR RAW's Competitor - Jack Wills"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">6</span>
                            </div>
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/reiss" class="link primary"><img
                                            src="https://image4.owler.com/logo/reiss_owler_20160228_184749_medium.jpg"
                                            alt="G-STAR RAW's Competitor - Reiss's Logo"
                                            title="G-STAR RAW's Competitor - Reiss"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">7</span>
                            </div>
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/siksilk" class="link primary"><img
                                            src="https://image4.owler.com/logo/siksilk_owler_20160229_215148_medium.png"
                                            alt="G-STAR RAW's Competitor - Siksilk's Logo"
                                            title="G-STAR RAW's Competitor - Siksilk"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">8</span>
                            </div>
                        </div>
                    </li>
                    <li class="slide">
                        <div class="carousel-page">
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/zapairportparking" class="link primary"><img
                                            src="https://image4.owler.com/logo/zap-airport-car-parking_owler_20160301_115840_medium.png"
                                            alt="G-STAR RAW's Competitor - Zap Airport Car Parking's Logo"
                                            title="G-STAR RAW's Competitor - Zap Airport Car Parking"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">9</span>
                            </div>
                            <div class="comp-item four" role="link" tabindex="0">
                                <div class="comp-wrapper "><i class="fa fa-times-circle" aria-hidden="true"></i><i
                                        class="fa fa-check-circle" aria-hidden="true"></i><a
                                        href="https://www.owler.com/company/newlookgroup" class="link primary"><img
                                            src="https://image4.owler.com/logo/new-look-group_owler_20190902_184500_medium.png"
                                            alt="G-STAR RAW's Competitor - New Look Group's Logo"
                                            title="G-STAR RAW's Competitor - New Look Group"
                                            class="img company-logo medium competitor-logo"></a></div><span
                                    class="rank styled-text">10</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div><button type="button" class="control-arrow control-next"></button>
            <ul class="control-dots">
                <li class="dot selected" value="0" role="button" tabindex="0"></li>
                <li class="dot" value="1" role="button" tabindex="0"></li>
                <li class="dot" value="2" role="button" tabindex="0"></li>
            </ul>
        </div>
    </div>
</div>